/**
Customization script for widget.
You can modify only tese selectors and properties
specified here, you can ommit some of them
**/

.address-bar {
	color: red;
	/*background-color: green;*/
	border-color:red;
}

/* this is unlikely in production,
mustly you will have classes and more specific selectors, 
this is just for demo
*/
span {
	color: red;
}